

ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
    background-color: transparent;
    float: left;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #000000;
}



.small-article2 img
{
    
    width: 100%;
}
